.outer-box {
  background-color: black;
  border: 5px solid gray;
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.tile {
  border: 1px solid blue;
  float: left;
  width: 98px;
  height: 98px;
  background-color: white;
}

.empty {
  border: 1px solid blue;
  float: left;
  width: 98px;
  height: 98px;
  background-color: black;
}